{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="container__login">
    <div class="wrapper">
        <div class="form">
            <form method="POST" action="{% url 'common:login' %}">
                {% csrf_token %}
                {% include "form_errors.html" %}
                <input class="id" name="username" type="text" value="{{ form.username.value|default_if_none:'' }}" placeholder="아이디">
                <input class="pd" name="password" type="password" value="{{ form.password.value|default_if_none:'' }}" placeholder="비밀번호">
                <input class="send" type="submit" value="로그인">
            </form>
        </div>
    </div>
</div>
{% endblock %}